@page
@model GenesisMegaDeskRazor.Pages.DeskQuotes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Desk Quote</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Customer Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetailsData.CustomerName)
        </dd>
        <dt class="col-sm-2">
            Date
        </dt>
        <dd class="col-sm-10">
            @{
                var date = Model.DetailsData.Date;
                var formattedDate = date.ToString("yyyy-MM-dd");
            }
            @formattedDate
        </dd>
        <dt class="col-sm-2">
            Rush Order Days
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetailsData.RushOrderDays)
        </dd>
        <dt class="col-sm-2">
            Desktop Material
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetailsData.DeskMaterial)
        </dd>
        <dt class="col-sm-2">
            Drawers Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetailsData.DrawersNum)
        </dd>
        <dt class="col-sm-2">
            Width
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetailsData.Width)
        </dd>
        <dt class="col-sm-2">
            Depth
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetailsData.Depth)
        </dd>
        <dt class="col-sm-2">
            Total Price
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetailsData.TotalPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DeskQuote?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
