@page
@model GenesisMegaDeskRazor.Pages.DeskQuotes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Desk Quote</h4>
@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DetailsData.DeskQuoteId" />
            <div class="form-group row">
                <div class="col-md-6">
                    <label asp-for="DetailsData.CustomerName" class="control-label">Customer Name</label>
                    <input asp-for="DetailsData.CustomerName" class="form-control" />
                    <span asp-validation-for="DetailsData.CustomerName" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="DetailsData.Date" class="control-label">Date</label>
                    <input asp-for="DetailsData.Date" class="form-control" />
                    <span asp-validation-for="DetailsData.Date" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label asp-for="DetailsData.RushOrderDays" class="control-label">Rush Order Days</label>
                    <select asp-for="DetailsData.RushOrderDays" class="form-control">
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="7">7</option>
                        <option value="14">14 (No Rush)</option>
                    </select>
                    <span asp-validation-for="DetailsData.RushOrderDays" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="DetailsData.DeskMaterial" class="control-label">Desktop Material</label>
                    <select asp-for="DetailsData.DeskMaterial" class="form-control"
                            asp-items="Html.GetEnumSelectList<GenesisMegaDeskRazor.Models.Desk.DesktopMaterial>()"
                            onchange="changeImage(this)">
                    </select>
                    <span asp-validation-for="DetailsData.DeskMaterial" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label asp-for="DetailsData.DrawersNum" class="control-label">Drawers Number</label>
                    <select asp-for="DetailsData.DrawersNum" class="form-control">
                        @for (int i = 0; i <= 7; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <span asp-validation-for="DetailsData.DrawersNum" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="DetailsData.Width" class="control-label">Width</label>
                    <input asp-for="DetailsData.Width" class="form-control" />
                    <span asp-validation-for="DetailsData.Width" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label asp-for="DetailsData.Depth" class="control-label">Depth</label>
                    <input asp-for="DetailsData.Depth" class="form-control" />
                    <span asp-validation-for="DetailsData.Depth" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="control-label">Material Preview</label>
                    <div class="image-container">
                        <img src="@Model.DetermineInitialWood()" alt="Overlay Image" id="material-image" width="300" height="200" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

<style>
    .image-container {
        margin-top: 1rem;
    }
</style>

<script>
    function changeImage(dropdown) {
        var selectedMaterial = dropdown.options[dropdown.selectedIndex].text;
        var materialImage = document.getElementById("material-image");
        materialImage.src = '@Url.Content("~/Images/")' + selectedMaterial + ".jpg";
    }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
