@page
@model GenesisMegaDeskRazor.Pages.DeskQuotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>MegaDesk Quotes</h1>

<p>
    <a class="btn btn-secondary btn-lg" asp-page="/Desks/Create">New Quote</a>
</p>

<div class="w-50 mx-auto">
    <form>
        <div class="form-group row">
            <div class="col-md-6">
                <label for="NameSearchString">Search Name:</label>
                <input type="text" class="form-control form-control-sm" id="NameSearchString" asp-for="NameSearchString" placeholder="Enter a name">
            </div>
            <div class="col-md-6">
                <label for="SortOption">Sort By:</label>
                <select class="form-control form-control-sm" id="SortOption" asp-for="SortOption" asp-items="Model.SortOptions">
                    <option value="">None</option>
                </select>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-2">Apply</button>
        </div>
    </form>
</div>


<br />


<table class="table table-dark">
    <thead>
        <tr>
            <th>
                Customer Name
            </th>
            <th>
                Date
            </th>
            <th>
                Rush Order Days
            </th>
            <th>
                Desktop Material
            </th>
            <th>
                Drawers Number
            </th>
            <th>
                Width
            </th>
            <th>
                Depth
            </th>
            <th>
                Total Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.QuoteDataRows)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                    @{
                        var date = item.Date;
                        var formattedDate = date.ToString("yyyy-MM-dd");
                    }
                @formattedDate
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RushOrderDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeskMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrawersNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td> 
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DeskQuoteId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DeskQuoteId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DeskQuoteId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
