@page
@model GenesisMegaDeskRazor.Pages.DeskQuotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="/Desks/Create">Create New</a>
</p>

<form>
    <p>
        <div style="padding-bottom: 10px;">
            Search Name: <input type="text" asp-for="NameSearchString" />
        </div>
        <div style="padding-bottom: 20px;">
        Sort By: <select asp-for="SortOption" asp-items="Model.SortOptions">
            <option value="">None</option>
        </select>
        </div>
        <input style="width: 290px;" type="submit" value="Apply" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Customer Name
            </th>
            <th>
                Date
            </th>
            <th>
                Rush Order Days
            </th>
            <th>
                Desktop Material
            </th>
            <th>
                Drawers Number
            </th>
            <th>
                Width
            </th>
            <th>
                Depth
            </th>
            <th>
                Total Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.QuoteDataRows)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date, "{0:MM/dd/yyyy}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RushOrderDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeskMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrawersNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td> 
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DeskQuoteId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DeskQuoteId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DeskQuoteId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
